In [ ]:
R.home()

In [ ]:
library(tidyverse)
library(rjson)
library(Biostrings)

In [ ]:
# qc

In [ ]:
parse_fastp <- function(sample, path) {
    Ljs <- fromJSON(file=path)
    bind_cols(
        sample=sample,
        Ljs$summary$before_filtering %>% as_tibble %>% 
            select(readpair_raw=total_reads, q30_raw=q30_rate, R1_len_raw=read1_mean_length, R2_len_raw=read2_mean_length, GC_raw=gc_content),
        Ljs$summary$after_filtering %>% as_tibble %>% 
            select(readpair_flt=total_reads, q30_flt=q30_rate, R1_len_flt=read1_mean_length, R2_len_flt=read2_mean_length, GC_flt=gc_content)
    ) %>%
    mutate(readpair_raw=readpair_raw/2, readpair_flt=readpair_flt/2)
}

In [ ]:
TBqc <- snakemake@input$Lqc %>% map_dfr(
    ~parse_fastp(str_replace(basename(.x), '\\.\\w+$', ''), .x)
    )

In [ ]:
# consensus sequence

In [ ]:
TBseq <- snakemake@input$Lconsensus %>% readDNAStringSet %>% as.data.frame %>% 
    rownames_to_column('sample') %>% select(sample=1, consensus_seq=2)

In [ ]:
# align

In [ ]:
parse_align <- function(sample, path) {
    Vlog <- file(path, open="r") %>% readLines
    align_reads <- Vlog %>% grep('Found \\d+ mapped reads', ., value=TRUE) %>% 
        str_split(' ') %>% map_chr(~.x[2]) %>% as.double
    names(align_reads) <- sample
    return (align_reads)
}

In [ ]:
TBalign <- snakemake@input$Lalign_rate %>% 
    map(~parse_align(str_replace(basename(.x), '\\.\\w+$', ''), .x)) %>%
    unlist %>% as_tibble(rownames='sample') %>% dplyr::rename(align_reads=value)

In [ ]:
# dup

In [ ]:
parse_dup <- function (sample, path) {
    Vlog <- file(path, open="r") %>% readLines
    dup_reads <- Vlog %>% grep(' found \\d+ duplicates', ., value=TRUE) %>% 
        str_split(' ') %>% map_chr(~.x[4]) %>% as.double
    names(dup_reads) <- sample
    return (dup_reads)
}

In [ ]:
TBdup <- snakemake@input$Ldup_rate %>% 
    map(~parse_dup(str_replace(basename(.x), '\\.\\w+$', ''), .x)) %>%
    unlist %>% as_tibble(rownames='sample') %>% dplyr::rename(dup_reads=value)

In [ ]:
# variant info

In [ ]:
parse_altfreq <- function(path, high_altfreq_threshold=0.6) {
    tb <- read_tsv(path)
    high_altfreq <- tb %>% filter(ALT_FREQ > high_altfreq_threshold) %>% nrow / nrow(tb)
    sample <- unique(tb$REGION)
    names(high_altfreq) <- sample
    return (high_altfreq)
}

In [ ]:
high_altfreq_threshold <- snakemake@params$high_altfreq_threshold

In [ ]:
TBaltfreq <- snakemake@input$Lvariant_info %>% 
    map(~parse_altfreq(.x, high_altfreq_threshold)) %>% unlist %>% 
    as_tibble(rownames='sample') %>% dplyr::rename(high_altfreq=value)

In [ ]:
# merge

In [ ]:
TBres <- TBqc %>% left_join(TBdup, by='sample') %>% 
    left_join(TBalign, by='sample') %>% left_join(TBaltfreq, by='sample') %>% left_join(TBseq, by='sample')

In [ ]:
TBres <- TBres %>% mutate(
        align_rate=align_reads/(2*readpair_flt),
        dup_rate=dup_reads/(2*readpair_flt),
        depth=round(readpair_flt * 300 * align_rate / 30000) %>% str_c('x')) %>% 
    relocate(depth, align_rate, dup_rate, high_altfreq, .after=sample) %>%
    select(-align_reads, -dup_reads)

In [ ]:
TBres %>% write_excel_csv(snakemake@output$upstream_stat)

In [ ]:
# fasta

In [ ]:
F <- file(snakemake@output$merge_consensus_fa, "w" )
TBseq %>% pmap_chr(~ str_c(str_glue('>{..1}'), ..2, sep='\n')) %>% writeLines(F)
close(F)